
# Usage
MODE : train_flow

# Training Configurations
DATA_FILE_NAME : balrog_only_detected_w_neg_cuts_250000.pkl
SCALER : MaxAbsScaler
SIZE_TRAINING_DATA : .6
SIZE_VALIDATION_DATA : .2
SIZE_TEST_DATA : .2

EPOCHS : 150
BATCH_SIZE : [8, 16, 32, 64]
VALIDATION_BATCH_SIZE : 64
RUNS : 1
REPRODUCIBLE : True

LEARNING_RATE : [0.001, 0.0001, 0.00001, 0.000001, 0.0000001, 0.00000001]

NUMBER_HIDDEN : [8, 16, 32]
NUMBER_BLOCKS : [8, 16, 32]
ACTIVATION_FUNCTION : tanh

PLOT_TEST : True
SHOW_PLOT : False
SAVE_PLOT : True
SAVE_NN : False

# Settings
DEVICE : cpu

# Parameters
INPUT_COLS : [BDF_MAG_DERED_CALIB_U,
             BDF_MAG_DERED_CALIB_G,
             BDF_MAG_DERED_CALIB_R,
             BDF_MAG_DERED_CALIB_I,
             BDF_MAG_DERED_CALIB_Z,
             BDF_MAG_DERED_CALIB_J,
             BDF_MAG_DERED_CALIB_H,
             BDF_MAG_DERED_CALIB_K,
             BDF_MAG_ERR_DERED_CALIB_U,
             BDF_MAG_ERR_DERED_CALIB_G,
             BDF_MAG_ERR_DERED_CALIB_R,
             BDF_MAG_ERR_DERED_CALIB_I,
             BDF_MAG_ERR_DERED_CALIB_Z,
             BDF_MAG_ERR_DERED_CALIB_J,
             BDF_MAG_ERR_DERED_CALIB_H,
             BDF_MAG_ERR_DERED_CALIB_K,
             Color Mag U-G,
             Color Mag G-R,
             Color Mag R-I,
             Color Mag I-Z,
             Color Mag Z-J,
             Color Mag J-H,
             Color Mag H-K,
             BDF_T,
             BDF_G,
             FWHM_WMEAN_R,
             FWHM_WMEAN_I,
             FWHM_WMEAN_Z,
             AIRMASS_WMEAN_R,
             AIRMASS_WMEAN_I,
             AIRMASS_WMEAN_Z,
             MAGLIM_R,
             MAGLIM_I,
             MAGLIM_Z,
             EBV_SFD98
             ]

OUTPUT_COLS : [unsheared/mag_r,
              unsheared/mag_i,
              unsheared/mag_z,
              unsheared/mag_err_r,
              unsheared/mag_err_i,
              unsheared/mag_err_z,
              unsheared/snr,
              unsheared/size_ratio,
              unsheared/flags,
              unsheared/T,
              unsheared/weight,
              detected
              ]
